// 如果需要，引入暗黑模式需要的变量
// @use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  --primary-color: #316c72;
  --dark-bg: #18181c;
}

html,
body {
  height: 100%;
}

html {
  height: 100%;
  font-size: 4px;
}

html.dark {
  background: var(--dark-bg);
}
