// 引入 ElementPlus 暗黑模式 CSS 变量
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

// 引入 ElementPlus 亮色模式重写 CSS 变量
@use "./element/light.scss" as *;

// 引入 ElementPlus 暗黑模式重写 CSS 变量
@use "./element/dark.scss" as *;

// 引入业务 CSS VARS
@use "./variables.scss" as *;

html,
body {
  height: 100%;
}

html {
  height: 100%;
  font-size: 4px;
}
